name: Docsify Docs (alfredcohost-user-docs-portal) link checker

on:
  pull_request:
    branches:
      - main

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install markdown-link-check
        run: npm install -g markdown-link-check
      - name: Run link check
        run: |
          find docs -name '*.md' -print0 | xargs -0 -n1 markdown-link-check -q -c .markdown-link-check.json

# This script does not check the links from the landing pages (contained in HTML scripts). Make sure you check them manually!